
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-title {
  color: white;
  text-align: center;
  background-image: linear-gradient(to left, rgb(178, 22, 178), rgb(182, 146, 196));
  padding: 1rem;
}